body {

    margin:0 auto;
    text-align: center;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(rgb(31, 32, 31) 60%,rgb(8, 37, 5),rgb(21, 24, 21));

}

p, details{
    margin:0 auto;
    color:white;
    text-align: justify;
    font-size:1em;
    max-width: 95vh;
    
}
h1{
    color:rgb(115, 201, 45);
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    position: fixed;
    width: 100%;
}
a{
    padding: 10px;
    text-decoration: none;
    color: yellowgreen;
}
a:hover{
    background-color: rgb(60, 66, 66);
    border-radius: 10px;
}
img {
    padding-top: 20px;
    size: 50%;
    max-width: 70%;
}

img#foto {
    border-radius: 50%;
    size: 50%;
    max-width: 20%;
}
div {
    padding-top: 10px;
}

details:hover{

    border-radius: 15px;
    /*
        background-color: rgb(77, 85, 76);
    */
    color:rgb(108, 175, 41)
}

footer {
    color:aqua;
    font-size: small;
    line-height: 50px;
}